@model Vidly.Models.Customer
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.BirthDate)
        @Html.TextBoxFor(c => c.BirthDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.FavoriteMovie)
        @Html.TextBoxFor(c => c.FavoriteMovie, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>
            @Html.CheckBoxFor(c => c.IsSubscribed) 订阅Vidly电影每日推送
        </label>
    </div>
}